/* общие настройки для всей страницы, а также для картинок и блока с кольцом */
html, body, .stage, .ring {
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select:none;
}

/* настраиваем общие правила скрытия лишних объектов на странице */
html, body{
    overflow:hidden;
    background: #a88f8f;

}

/* устанавливаем абсолютное позиционирование блоков на странице */
div {
    position: absolute;
}

/* отдельные настройки для карусели в целом */
.container {
    /*на сколько центр карусели будет виртуально уедет вглубь монитора*/
    perspective: 2000px;
    width: 300px;
    height: 400px;
    left:50%;
    top:50%;
    /*как будут сдвигаться наши картинки*/
    transform:translate(-50%,-50%);
}